/* HEADER */

#home .container {
	background: #1a5c8e;
	display: flex;
	color: white;
	font-size: 1rem;
	padding: 0 1rem;
	height: 5vh;
	align-items: center;
	justify-content: space-between;
}

.header-contact {
	display: flex;
	gap: 2rem;
}

.header-contact a {
	text-decoration: none;
	color: white;
}

.socials-container {
	display: flex;
	gap: 1rem;
}

/* NAV */

#desktop-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem;
}

.nav-links ul {
	display: flex;
	list-style: none;
	gap: 1.8rem;
	font-size: clamp(12px, 1.5vw, 20px);
}

.nav-links a {
	text-decoration: none;
	color: #1a5c8e;
	font-weight: 500;
}

.nav-links a:hover {
	color: #14212b;
}

nav img {
	height: 6rem;
}

.btn {
	padding: 1.2rem 1rem;
	color: white;
	font-weight: 700;
	font-size: clamp(12px, 1.6vw, 16px);
	background: #1a5c8e;
	border: none;
	transition: 0.3s ease-out;
	max-width: 200px;
}

.btn:hover {
	background: #14212b;
	transform: scale(1.05);
}

/* HAMBURGER NAV */

.off-screen-menu {
	background: #1a5c8e;
	height: 100vh;
	width: 100%;
	max-width: 50%;
	position: fixed;
	top: 0;
	right: -50%;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	text-align: start;
	font-size: 1.5rem;
	box-shadow: 0 2px 4px grey;
	transition: 0.3s ease;
	z-index: 9;
}

.ham-menu {
	display: none;
	position: relative;
	height: 30px;
	width: 30px;
	z-index: 10;
}

.ham-menu span {
	position: absolute;
	height: 4px;
	width: 100%;
	background-color: #14212b;
	border-radius: 25px;
	top: 50%;
	left: -50%;
	transform: translate (-50%, -50%);
	transition: 0.3s ease;
}

.ham-menu span:nth-child(1) {
	top: 25%;
}

.ham-menu span:nth-child(3) {
	top: 75%;
}

.ham-menu.active span:nth-child(1) {
	top: 50%;
	transform: translate(50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
	opacity: 0;
}

.ham-menu.active span:nth-child(3) {
	top: 50%;
	transform: translate(45%, -45%) rotate(-45deg);
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: none;
	z-index: 8;
}

/* OFF-SCREEN-MENU DESIGN */

.menu-links {
	list-style: none;
	width: 100%;
	margin: 30% 0;
}

.menu-links li {
	padding: 1.5rem;
}

.menu-links li:hover {
	background-color: #14212b;
}

.menu-links a {
	display: block;
	text-decoration: none;
	color: white;
}

/* FOOTER */

.top-footer {
	display: flex;
	justify-content: space-around;
	background: #14212b;
	color: white;
	padding: 1.5rem 6rem;
}

.bottom-footer {
	display: flex;
	justify-content: space-between;
	background: #1a5c8e;
	padding: 0.3rem 1rem;
	color: white;
}

.footer-info {
	display: inline-block;
}

.footer-info p {
	margin-bottom: 10px;
	text-decoration: none;
	color: white;
}

.footer-info h3,
.footer-links h3 {
	margin-bottom: 1rem;
	font-weight: bold;
}

.footer-socials {
	display: flex;
	gap: 2rem;
	font-size: x-large;
	margin-top: 30px;
	justify-content: center;
}

.footer-links li {
	list-style: none;
	margin-bottom: 10px;
}

.footer-links a {
	text-decoration: none;
	color: white;
}

.footer-links a:hover,
.footer-socials i:hover {
	color: #1a5c8e;
}

/* .footer img {
	display: none;
} */

.policies {
	display: flex;
	gap: 2rem;
}

.policies a {
	text-decoration: none;
	color: white;
}

.policies a:hover {
	color: #14212b;
}

/* MEDIAQUERIES */

@media only screen and (min-width: 1165px) {
}
@media only screen and (max-width: 950px) {
	.off-screen-menu.active {
		right: 0;
	}

	.overlay.active {
		display: block;
	}

	.nav-links {
		display: none;
	}

	.quote-btn {
		display: none;
	}

	.ham-menu {
		display: flex;
	}

	.socials-container {
		display: none;
	}

	/* FOOTER */
	.top-footer {
		padding: 1rem;
		justify-content: space-between;
	}

	.footer-socials {
		font-size: xx-large;
		gap: 3rem;
		margin-top: 50px;
		justify-content: start;
	}

	.bottom-footer {
		justify-content: center;
	}

	.policies {
		display: none;
	}
}
@media only screen and (max-width: 720px) {
	/* FOOTER */

	footer {
		font-size: small;
	}

	.footer-info {
		max-width: 250px;
	}

	.footer-links {
		max-width: 170px;
	}

	.footer-socials {
		gap: 3rem;
		font-size: x-large;
		margin-top: 50px;
		justify-content: start;
	}
}
@media only screen and (max-width: 501px) {
	/* FOOTER */

	.top-footer {
		justify-content: center;
	}

	.footer-links {
		display: none;
	}
}
