/* HAMBURGER NAV */

.off-screen-menu {
	background: #1a5c8e;
	height: 100vh;
	width: 100%;
	max-width: 50%;
	position: fixed;
	top: 0;
	right: -50%;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	text-align: start;
	font-size: 1.5rem;
	box-shadow: 0 2px 4px grey;
	transition: 0.3s ease;
	z-index: 9;
}

.ham-menu {
	display: none;
	position: relative;
	height: 30px;
	width: 30px;
	z-index: 10;
}

.ham-menu span {
	position: absolute;
	height: 4px;
	width: 100%;
	background-color: #14212b;
	border-radius: 25px;
	top: 50%;
	left: -50%;
	transform: translate (-50%, -50%);
	transition: 0.3s ease;
}

.ham-menu span:nth-child(1) {
	top: 25%;
}

.ham-menu span:nth-child(3) {
	top: 75%;
}

.ham-menu.active span:nth-child(1) {
	top: 50%;
	transform: translate(50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
	opacity: 0;
}

.ham-menu.active span:nth-child(3) {
	top: 50%;
	transform: translate(45%, -45%) rotate(-45deg);
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: none;
	z-index: 8;
}

/* OFF-SCREEN-MENU DESIGN */

.menu-links {
	list-style: none;
	width: 100%;
	margin: 30% 0;
}

.menu-links li {
	padding: 1.5rem;
}

.menu-links li:hover {
	background-color: #14212b;
}

.menu-links a {
	display: block;
	text-decoration: none;
	color: white;
}

/* MEDIAQUERIES */

@media only screen and (min-width: 1165px) {
}
@media only screen and (max-width: 950px) {
	.off-screen-menu.active {
		right: 0;
	}

	.overlay.active {
		display: block;
	}

	.nav-links {
		display: none;
	}

	.quote-btn {
		display: none;
	}

	.ham-menu {
		display: flex;
	}

	.socials-container {
		display: none;
	}

	/* FOOTER */
	.top-footer {
		padding: 1rem;
		justify-content: space-between;
	}

	.footer-socials {
		font-size: xx-large;
		gap: 3rem;
		margin-top: 50px;
		justify-content: start;
	}

	.bottom-footer {
		justify-content: center;
	}

	.policies {
		display: none;
	}
}
@media only screen and (max-width: 720px) {
	/* FOOTER */

	footer {
		font-size: small;
	}

	.footer-info {
		max-width: 250px;
	}

	.footer-links {
		max-width: 170px;
	}

	.footer-socials {
		gap: 3rem;
		font-size: x-large;
		margin-top: 50px;
		justify-content: start;
	}
}
@media only screen and (max-width: 501px) {
	/* FOOTER */

	.top-footer {
		justify-content: center;
	}

	.footer-links {
		display: none;
	}
}
