@media only screen and (max-width: 1165px) {
	.row.home-about {
		padding: 1rem;
	}
}
@media only screen and (max-width: 950px) {
	.btn {
		padding: 0.5rem 0.8rem;
	}
	/* HOME-LANDING */

	.home-about img {
		width: 280px;
	}

	.home-about-intro .btn {
		width: 40%;
	}

	/* HOME-SERVICES */
	.home-services-heading {
		padding: 0 2rem;
	}

	.home-services-container {
		padding: 2rem 0;
	}

	.home-services-btn {
		width: 160px;
	}

	/* HOME-CLIENTS */
	#home-clients {
		padding: 1rem;
	}

	.home-clients-btn {
		width: 160px;
	}

	/* HOME-PROJECTS */
	#home-projects {
		padding: 1rem;
	}

	/* HOME-REVIEWS */
	#home-reviews {
		padding: 1rem;
	}

	/* FOOTER */
	.top-footer {
		padding: 1rem;
		justify-content: space-between;
	}

	.footer-socials {
		font-size: xx-large;
		gap: 3rem;
		margin-top: 50px;
		justify-content: start;
	}

	.bottom-footer {
		justify-content: center;
	}

	.policies {
		display: none;
	}
}
@media only screen and (max-width: 720px) {
}
@media only screen and (max-width: 500px) {
}
