@media only screen and (max-width: 1165px) {
}
@media only screen and (max-width: 950px) {
	.row.home-about {
		padding: 1rem;
	}

	.btn {
		padding: 1rem 0.8rem;
	}

	/* HOME-LANDING */

	.home-about img {
		width: 280px;
	}

	.home-about-intro .btn {
		width: 40%;
	}

	/* HOME-SERVICES */
	.home-services-heading {
		padding: 0 2rem;
	}

	.home-services-container {
		padding: 2rem 0;
	}

	.home-services-btn {
		width: 160px;
	}

	/* HOME-CLIENTS */
	#home-clients {
		padding: 1rem;
	}

	.home-clients-btn {
		width: 160px;
	}

	/* HOME-PROJECTS */
	#home-projects {
		padding: 1rem;
	}

	/* HOME-REVIEWS */
	#home-reviews {
		padding: 1rem;
	}
}
@media only screen and (max-width: 720px) {
	/* HOME-LANDING */

	.row.home-heading1 {
		padding: 1rem;
	}

	.home-about {
		flex-direction: column;
	}

	.home-about img {
		align-self: center;
	}

	/* HOME-SERVICES */

	.services-grid {
		gap: 0.7rem;
	}

	.services-card {
		gap: 0.6rem;
		padding: 20px 10px;
	}

	.services-card:hover {
		transform: none;
	}

	.services-card div {
		align-self: center;
	}

	.services-card p {
		display: none;
	}

	.services-card h3 {
		margin: 0;
	}

	.services-card img {
		width: 30px;
		height: 30px;
	}
}
@media only screen and (max-width: 501px) {
	/* HOME-SERVICES */

	.services-grid {
		grid-template-columns: repeat(2, minmax(auto, 1fr));
	}
}
