section {
	margin-bottom: 30px;
	box-sizing: border-box;
}

/* HOME-LANDING */

#home-landing {
	height: fit-content;
}

/* cursor blink */
#typing-text::after {
	content: "|";
	animation: blink 0.5s infinite;
}
@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.row {
	padding: 1rem 6rem;
}

.col {
	display: flex;
}

.home-heading1 {
	text-align: center;
	background: #1a5c8e;
	color: white;
}

.home-heading1 h1 {
	font-size: clamp(12px, 2vw, 16px);
}

.home-about {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	margin: 50px 0;
	font-size: clamp(12px, 2vw, 16px);
}

.home-about img {
	display: inline-block;
	max-width: 100%;
	width: 350px;
	height: min-content;
	border-radius: 15px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.home-heading2 {
	width: 100%;
	height: auto;
	color: #1a5c8e;
	margin: 20px 0;
}

.home-about-intro {
	flex: 1;
	flex-direction: column;
}

.home-about-intro h2 {
	color: #1a5c8e;
	margin-bottom: 20px;
}

.home-about-intro .btn {
	width: 30%;
	align-self: center;
}

/* HOME-SERVICES */

#home-services {
	background: #1a5c8e;
	color: white;
	gap: 1rem;
	height: fit-content;
	font-size: clamp(10px, 1.7vw, 16px);
}

.home-services-heading {
	text-align: center;
}

.services-grid {
	display: grid;
	grid-template-columns: repeat(3, minmax(auto, 1fr));
	/* grid-template-rows: repeat(auto, 1fr); */
	gap: 1rem;
	padding: 1rem;
}

.services-card {
	display: flex;
	gap: 1rem;
	align-items: center;
	font-family: "Montserrat", sans-serif;
	background: white;
	padding: 10px 10px;
	border-radius: 8px;
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
	transition: 0.3s ease;
	overflow: hidden;
}

.services-card:hover {
	transform: translateY(-5px);
}

.services-card div {
	color: black;
	align-self: start;
}

.services-card h3 {
	color: #1a5c8e;
	margin: 10px 0;
}

.home-services-btn {
	background: white;
	color: #1a5c8e;
	width: 200px;
	margin-top: 20px;
}

.home-services-btn:hover {
	background: #14212b;
	color: white;
}

.home-services-container {
	display: flex;
	flex-direction: column;
	padding: 2rem 4rem;
	align-items: center;
}

/* HOME-CLIENTS */

#home-clients {
	padding: 1rem 6rem;
	text-align: center;
}

.home-clients-heading {
	color: #1a5c8e;
	font-size: clamp(12px, 2vw, 16px);
}

/* carousel */

.swiper-container {
	width: 100%;
	height: 200px;
	margin: 30px 0;
	overflow: hidden;
}

.swiper-slide {
	background: #f0f0f0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
}

.home-clients-btn {
	width: 200px;
}

/* HOME-PROJECTS */

#home-projects {
	padding: 1rem 6rem;
	text-align: center;
}

.home-projects-heading {
	color: #1a5c8e;
	font-size: clamp(12px, 2vw, 16px);
}

/* HOME-REVIEWS */

#home-reviews {
	padding: 1rem 6rem;
	text-align: center;
}

.home-reviews-heading {
	color: #1a5c8e;
	font-size: clamp(12px, 2vw, 16px);
}
