@media only screen and (max-width: 1200px) {
	/* CONTACT-FORM */

	#contact-form {
		margin: 0 8rem;
	}
}
@media only screen and (max-width: 950px) {
	/* CONTACT-LANDING */

	.contact-heading {
		padding: 0 4rem;
	}

	/* CONTACT-FORM */

	#contact-form {
		margin: 0 2rem;
	}

	/* CONTACT-INFO */

	#contact-info {
		height: fit-content;
		padding: 3rem 5rem;
	}

	.contact-card-container {
		grid-template-columns: repeat(1, minmax(auto, 1fr));
	}

	/* .contact-card {
		flex-direction: row;
	} */
}
@media only screen and (max-width: 720px) {
	/* CONTACT-LANDING */

	#contact-landing {
		height: 30vh;
	}

	.contact-heading {
		padding: 1rem;
	}

	/* CONTACT-FORM */

	#contact-form {
		margin: 0;
	}

	.form-group {
		flex-direction: column;
		gap: 0;
	}
}
@media only screen and (max-width: 501px) {
	/* CONTACT-LANDING */

	#contact-landing {
		align-items: end;
	}

	.contact-heading {
		padding: 1rem;
		margin-bottom: 2rem;
	}

	/* CONTACT-FORM */

	#contact-form {
		padding: 2rem 1rem;
	}

	.btn2 {
		width: 45%;
	}
}
