@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 950px) {
	/* PROJECTS-LANDING */
	.projects-heading {
		padding: 0 4rem;
	}
}
@media only screen and (max-width: 720px) {
	/* PROJECTS-LANDING */
	#projects-landing {
		height: 30vh;
	}

	.projects-heading {
		padding: 1rem;
	}
}
@media only screen and (max-width: 501px) {
	/* PROJECTS-LANDING */

	#projects-landing {
		align-items: end;
	}

	.projects-heading {
		padding: 1rem;
		margin-bottom: 2rem;
	}
}
